/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */


#navbar{
	background-color:white;
	width: 997px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom: 25px;
	display: block;
	border-style: solid;
	border:1px;


}

#EdV{
	margin-top: 8px;
	float: left;
	width: 274px;
	height: 24px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 100%;
	color:gray;
	font-style: italic;
}
.edicion{
	float: left;
	font-size: 100%;

}

.Version{
	float: right;
	font-size: 100%;

}

.cont{
		color:black;
}

#rs{
	margin-top: 8px;
	float: right;
	width: 395px;
	height: 27px;
	font:100% Arial,Helvetica,sans-serif;
	color:gray;
	border-style: solid;
	border:1px;
}

.orbyt{
	float: left;
	margin: 8px 11.5px 0;
	position: relative;

}

.siguenos{
	padding: 0px;
	margin: 8px 5px 0 0;
	border-left: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	width: auto;
	float: left;
	line-height: 1;
	list-style: none;

}


.siguenos li {
display: inline;
}


.siguenos li a {
text-decoration: none;
float:left;
width: 27px;
height: 27px;
text-align: center;

}


.siguenos li a:hover {
background-color: transparent;

}


#mundoSocialToolbar{
margin-top: 8px;
float: left;
width: 195px;
height: 27px;
}

.comunidad{
margin: 0 0 0 11.5px;
color: black;
}


.comunidad>a{
color:  #3c81a2;
text-align: center;
position: relative;
text-transform: uppercase;
font-family: "Roboto Condensed",Arial,sans-serif;
font-size: 65%;
padding: 7px 23px 5px 5px
}


.paywall{
 border-radius: 3px;
-ms-border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
display: block;
color: #fff;
float: left;
text-transform: uppercase;
font-family:"Roboto Condensed",Arial,sans-serif;
height: 27px;
padding: 5px 8px 3px;
margin-right: 10px;
background: #1494b7;
}


.comunidad>a.paywall{
color: #fff;
float: left;
font-family: "Roboto Condensed",Arial,sans-serif;
font-size: 65%;
height: 27px;
width: 79px;
padding: 7px 10px 5px;
margin-right: 10px;
text-align: center;
}


.comunidad>a:before {
background: none;
border-right: 1px solid #3c81a2;
border-bottom: 1px solid #3c81a2;
content: "";
height: 6px;
position: absolute;
right: 8px;
bottom: 10px;
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-sand-transform: rotate(45deg);
width: 6px;
z-index: 10;
}

.publicidad-cabecera-a{
	border-style: solid;
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-bottom-left: 0px;
	border-bottom-right: 0px;
	margin-top: 10px;
	border-color: #3c81a2;
	padding: 0px;
}

#cen1{

	text-align: center;
	display: block;
	padding: 20px 0 1px;
}




.container{
width: 997px;
height: 40px;
overflow:hidden;
display: block;
padding: 0px;
}


#menu_izq{

float: left;
width: 110px;
height: 38px;
background: url("../secciones.png") no-repeat #000; 
background-position: 12px 12px;

}

.menu_izq1{
	font-size: 10px;
	color: white;
	float: right;
	padding: 3px;
	margin-top: 12px;
	margin-right: 8px;

}

.icon{
	width:33px;
	height:31px;
	margin-top: 3px;
	margin-left: 2px;
}
.navbar-collapse.collapse{
	padding: 0px;
	width: 887px;
	height: 40px;
	float: right;
	position: relative;
	background-color: #eff2f2;
	overflow: hidden;
	font-size: 90%;
	line-height: 115%;
	margin-bottom: 0;

}



.region-header{
	height: 47px;
	width: 997px;
	display: block;
	margin:0 auto;
}


#block-views-titulos-block
{
	height: 47px;
	width: 997px;
	display: block;
	padding: 15px 0;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	text-align: center;
	border-bottom: 1px solid #AED7F7;

}


#block-views-titulos-block .block-title{
margin-left: 45px;
width: 70px;
float: left;
font-family: Georgia,"Times New Roman",Times,serif;
font-style: italic;
font-size: 75%;
text-align: center;
color: #5b5b5b;
font-size: 13px;
margin:0px;
}

#block-views-titulos-block .views-field-title .field-content a{
margin-left: 45px;
float: left;
color: #3C81A2;
font-family: Georgia,"Times New Roman",Times,serif;
font-style: italic;
text-align: center;
font-size: 13px;
margin:0px;
font-weight: normal;
margin-top: -16px;
}
#block-views-titulos-block .views-field-title .field-content a:hover{
	color:#904;
}


#block-views-titulos-block  .views-row-1 , #block-views-titulos-block  .views-row-2 ,#block-views-titulos-block  .views-row-3,#block-views-titulos-block  .views-row-4
{

height: 18px;
float: left;
padding-left: 15px;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 15px;

}



.es-noticia ul:before 
{
content: "Es noticia:"}

.uu{
display: inline;
padding: 0 0 0 10px;
}



#log{
	width: 550px;
	height: 75px;
	text-align: center;
	padding-top: 28px;
   	border-top: 1px;
   	margin-top: 38px;
	text-align: center;

}
/*algo!!!*/
#first-time{
	display: none;
}


#hora{
	height: 14px;
	font-size:12px;
	
}


.navbar-collapse {
	background-color: #eff2f2;

}

#alerta{
width: 1209px;
height:50px;
}

#block-views-lateral-block{
	display: inline-block;
	width: 238px;
	/*height: 206px;*/
	margin-left: 41px;
	margin-bottom: 23px;
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
}
#block-views-lateral-block-1{
	display: inline-block;
	width: 238px;

	margin-left: 41px;
	margin-bottom: 23px;
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;


}



.views-field-title .field-content a
{
	font-size: 170%;
	font-family: Arial,Helvetica,sans-serif;
	color: #044364;
	font-weight: bold;
	padding-bottom: 14px;

}



.view-content .views-field-title {
padding-top: 14px;
padding-bottom: 10px;
}


.view-content .views-field-name {
padding-top: 0px;
padding-bottom: 10px;
color: #3C81A2;
}

.view-content .views-field-body{
font-size: 82%;
color: #555;
font-family: Arial,Helvetica,sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1;
font-size-adjust: none;
font-stretch: normal;
-x-system-font: none;
-moz-font-feature-settings: normal;
-moz-font-language-override: normal;
}

.views-field-title .field-content a:hover{
	font-size: 170%;
	font-family: Arial,Helvetica,sans-serif;
	color:#904;
	font-weight: bold;
	text-decoration: none;
	
}

#block-views-lateral-block-2{
	display: inline-block;
	width: 238px;

	margin-left: 41px;
	margin-bottom: 23px;
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;

}

#block-views-primera-plana-block{
    display: inline-block;
    padding-left: 50px;
	width: 465px;
	height: 460px;
	padding:10px;
	border-top: 3px;
	border-bottom: 3px;
	border-left: 0px;
	border-right:0px;
	border-style: solid;
	border-color: #076cbb;
	margin-bottom: 23px;
	margin-top: 24px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #eff2f2;
	
}

#block-views-primera-plana-block .views-field-title .field-content a
{
	font-size: 180%;
	font-family: Arial,Helvetica,sans-serif;
	color: #044364;
	font-weight: bold;
	padding-bottom: 14px;

}

#block-views-primera-plana-block .block-title {
font-size: 100%;
width: 110px;
background: none repeat scroll 0% 0% #FFF;
color: #333;
padding: 3.33333px 10px;
border-radius: 2px;
margin-top: -28px;
border-style: solid;
border-color: #509CD5;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-width: 1px 1px 2px;
margin-bottom: 8px;
font-style: normal;
text-align: center;

}

.view-content .views-row{
	padding-bottom: 15px;
}


.region-columna1{
	float: left;
	width: 40%;
	/*height: 5090px;*/
}

.region-columna2-h{
	width: 60%;
	/*height: 4657px;*/
	float: right;

}

/*/views-field views-field-field-image
*/
body.front .col-sm-9 .region-content{
	display:none:;
}

.views-field-field-image{

}

#pc1{

}

#block-views-central-izq-block{
	 width: 147px;
	
}

#block-views-central-izq-block .views-field-field-image {
	width: 147px;
	height: 124px;
	margin-bottom: 14px

}

#block-views-central-izq-block .views-field-title {
	padding: 0px;
	padding-bottom: 14px;
	font-size: 75%;
	font-family: Georgia,"Times New Roman",Times,serif;
	
}

#block-views-central-der-block{
	 float: right;
	 width: 271px;
	
}

#block-block-1{
	float: right;
	width: 271px;
	height: 236px;
	border:1px;
	border-style: solid;

}

#block-block-2{
width: 147px;
height: 106px;
margin-bottom: 23px;
border: 1px;
border-style: solid;
}

#block-block-3{
width: 147px;
height: 550px;
margin-bottom: 23px;

}



#block-menu-menu-menu-periodico{
width: 147px;
height: 791px;
}

.region-columna3{
width: 20%;

float: right;
}



.main-container{
width: 80%;

float: left;
}


#contenido{
width: 997px;
margin-right: 130px;
margin-left: 130px;
overflow:hidden;
display: block;
}




.Navigation{
	width: 180px;
	height: 50;
}




#skip-link{
	width: 1029px;
	height: 109px;
	margin-left: 197px;
	border-style: solid;
	border: 1px;
}

#cont1{
	display: block;
	margin-left: 50%;

}



#cabecera{
	width: 1209px;
	height: 5px;
	margin-left: 107px;

}

.navbar-nav>li>a{
	padding:10px 10px;
}