/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

#cen1{

	text-align: center;
}

.container{
width: 997px;
}


#log{
	width: 550px;
	height: 75px;
	text-align: center;
	padding-top: 28px;
   	border-top: 1px;
   	margin-top: 38px;
	text-align: center;

}
#first-time{
	display: none;
}

.linea{
	color:#FF0000;
	border:5px;
}

#EdV{
	display: block;
	width: 274px;
	height: 24px;
	font:100% Arial,Helvetica,sans-serif;
	color:gray;
}
.edicion{
	float: left;

}

.Version{
	float: right;

}


#hora{
	height: 14px;
	font-size:12px;
	
}



#navbar{
	background-color:white;
	width: 997px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom: 25px;
	display: block;

}


.region-header{
	height: 47px;
	width: 997px;
	display: block;
	margin:0 auto;
}

#block-menu-menu-sub-menu{
	height: 47px;
	width: 997px;
	margin-bottom: 23px;
	/*border-bottom: 1px solid #AED7F7*/
	border: 1px solid #AED7F7;
	padding: 15px 0;
	
}

.block-title{
margin-left: 45px;
width: 70px;
float: left;
font-family: Georgia,"Times New Roman",Times,serif;
font-style: italic;
font-size: 75%;
text-align: center;
color: #5b5b5b;

}




#block-menu-menu-sub-menu ul {
   display: inline;
   list-style-type: circle;
   text-align: center;
   background-color:#E4E4E4;
}

.active li {
width: 70px;
}

li.menu.nav .first .leaf .active{
	list-style-type: circle;
   text-align: center;
   background-color:pink;
}

 
li.first .leaf .active{
	width: 130px;
	float: left;
   text-align: center;
   margin: 0 10px 0 0;
   border-color: red;
   border:0px;
}

#block-menu-menu-sub-menu li{
   width: 130px;
	float: left;
   text-align: center;
   margin: 0 10px 0 0;
   border:0px;
}

#block-menu-menu-sub-menu li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
   font-size: 15px;
}


.es_noticias{
	height: 47px;
	width: 997px;
	display: block;
	margin-bottom: 23px;
	border-bottom: 1px solid #AED7F7;
	padding: 15px 0;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	font-size: 80%;
	text-align: center;
	color: #5b5b5b;
margin:0 auto;

}



.es-noticia ul:before 
{
content: "Es noticia:"}

.uu{
display: inline;
padding: 0 0 0 10px;
}


.navbar-collapse {
	background-color: #eff2f2;

}

#alerta{
width: 1209px;
height:50px;
}


.views-field .views-field-title{
font-size: 100%;
font-family: Arial, Helvetica, sans-serif;
color: #0a385c;
}


#block-views-lateral-block{
	display: inline-block;
	width: 238px;
	/*height: 206px;*/
	margin-left: 41px;
	margin-bottom: 23px;
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;



}
#block-views-lateral-block-1{
	display: inline-block;
	width: 238px;

	margin-left: 41px;
	margin-bottom: 23px;
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;


}


#block-views-lateral-block-2{
	display: inline-block;
	width: 238px;

	margin-left: 41px;
	margin-bottom: 23px;
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;

}

.view-content .views-row{
	padding-bottom: 15px;
}



.views-field-title{
	font-size: 30px;
	font-family: Arial,Helvetica,sans-serif;
	

}

.active{

}
.region-columna1{
	float: left;
	width: 40%;
	/*height: 5090px;*/
}

.region-columna2-h{
	width: 60%;
	/*height: 4657px;*/
	float: right;

}

#block-views-primera-plana-block{
    display: inline-block;
    padding-left: 50px;
	width: 465px;
	height: 603px;
	padding:10px;
	border-top: 3px;
	border-bottom: 3px;
	border-left: 0px;
	border-right:0px;
	border-style: solid;
	border-color: #076cbb;
	margin-bottom: 23px;
	margin-top: 14px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #eff2f2;
	
}

/*/views-field views-field-field-image
*/
body.front .col-sm-9 .region-content{
	display:none:;
}

.views-field-field-image{

}

#pc1{

}

#block-views-central-izq-block{
 float: left;
	 width: 147px;
	
}
#block-views-central-der-block{
	 float: right;
	 width: 271px;
	
}

#block-block-1{
	float: right;
	width: 271px;
	height: 236px;
	border:1px;
	border-style: solid;

}

#block-block-2{
width: 147px;
height: 106px;
margin-bottom: 23px;
border: 1px;
border-style: solid;
}

#block-block-3{
width: 147px;
height: 550px;
margin-bottom: 23px;

}



#block-menu-menu-menu-periodico{
width: 147px;
height: 791px;
}

.region-columna3{
width: 20%;

float: right;
}



.main-container{
width: 80%;

float: left;
}


#contenido{
width: 997px;

margin:0 auto;
overflow:hidden;
border:1px solid;

display: block;
}




.Navigation{
	width: 180px;
	height: 50;
}




#skip-link{
	width: 1029px;
	height: 109px;
	margin-left: 197px;
	border-style: solid;
	border: 1px;
}

#cont1{
	display: block;
	margin-left: 50%;

}



#cabecera{
	width: 1209px;
	height: 5px;
	margin-left: 107px;

}

.navbar-nav>li>a{
	padding:10px 10px;
}