/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

#cen1{

	text-align: center;

}
#log{
	width: 550px;
	height: 75px;
	text-align: center;
	padding-top: 28px;
   	border-top: 1px;
   	margin-top: 38px;
	text-align: center;

}

#linea{
	color:#FF0000;
}

#EdV{
	display: block;
	width: 274px;
	height: 24px;
	font:100% Arial,Helvetica,sans-serif;
	color:gray;
}
.edicion{
	float: left;

}

.Version{
	float: right;

}


#hora{
	height: 14px;
	font-size:12px;
	background-color: #eff2f2;


}

#navbar{
	background-color:white;


}

.es_noticias{
	height: 47px;
	width: 1110px;
	display: block;
	margin-bottom: 23px;
	border-bottom: 1px solid #AED7F7;
	padding: 15px 0;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	font-size: 80%;
	text-align: center;
	color: #5b5b5b;
	margin-left: 150px;

}




.es-noticia ul:before 
{
content: "Es noticia:"}

#uu{
display: inline;
padding: 0 0 0 10px;
}


.navbar-collapse {
	background-color: #eff2f2;

}

#alerta{
width: 1209px;
height:50px;
}


#block-views-lateral-block{
	float: left;
	display: inline-block;
	width: 30%;
	margin-left: 41px;
	margin-bottom: 23px;

}
#block-views-lateral-block-1{
	
	display: block;
	width: 30%;
	margin-left: 41px;
	margin-bottom: 23px;
}



.views-field-title{
	font-size: 40px;
	font-family: Arial,Helvetica,sans-serif;
	color: red;

}

.active{

}
#block-views-primera-plana-block{
    padding-left: 50px;
	
	width: 30%;
}
.main-container{

width: 1209px;
height:9059px;
border-style: solid;
border-color: red;
border:1px;
margin-left: 110px;
display: block;
}


.contiene_colum{

width: 997px;
height:9072px;
border-style: solid;
border-color: pink;
border:1px;
margin-left: 110px;
display: block;
}

#colum1{
	width: 827px;
	height:6713px;
	float: left;

}

#colum2{
	float: right;
	width: 147px;
	height:4532px
	
}

.Navigation{
	width: 180px;
	height: 50;
}




#skip-link{
	width: 1029px;
	height: 109px;
	margin-left: 197px;
	border-style: solid;
	border: 1px;
}

#cont1{
	display: block;
	margin-left: 50%;

}



#cabecera{
	width: 1209px;
	height: 5px;
	margin-left: 107px;

}